.root {
       -fx-background-color: #004090;
}
.button {
    -fx-border-width: 2px;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #004090;
}

.chart {
    -fx-padding: 2px;
}
.chart-content {
    -fx-padding: 2px;
}

.chart-title {
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 1.6em;
}

.axis {
    -fx-tick-label-fill: #ffffff;
}

.axis-label {
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 2px;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #a0ff00;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: #202020;
}
.chart-vertical-grid-lines {
    -fx-stroke: #ffffff;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #ffffff;
}

.chart-alternative-row-fill {
    -fx-fill: #606060;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.loginLabel {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.loginLabel2 {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#darkButton {
    -fx-border-color: #004090;
    -fx-text-fill: #004090;
}

#darkButton:hover {
    -fx-background-color: #004090;
    -fx-text-fill: #004090;
}

#lightButton {
    -fx-border-color: #00A0FF;
    -fx-text-fill: #40d0FF;
}

#lightButton:hover {
    -fx-background-color: #40D0FF;
    -fx-text-fill: #202020;
}

#homeLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#cancelButton {
    -fx-border-color: #FF4000;
    -fx-text-fill: #FF4000;
}

#cancelButton:hover {
    -fx-background-color: #FF6040;
    -fx-text-fill: #202020;
}

#adminButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

.addDeviceLabels {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

#deviceTitle {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#inputGpsB {
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#addButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#addButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #202020;
}

#newDeviceButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#newDeviceButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #202020;
}

#deleteButton {
    -fx-border-color: #FF4000;
    -fx-text-fill: #FF4000;
}

#deleteButton:hover {
    -fx-background-color: #FF6040;
    -fx-text-fill: #202020;
}

#resetButton {
    -fx-border-color: #FF9000;
    -fx-text-fill: #FF9000;
}

#resetButton:hover {
    -fx-background-color: #FFD080;
    -fx-text-fill: #202020;
}

#updateButton {
    -fx-border-color: #EEEE00;
    -fx-text-fill: #EEEE00;
}

#updateButton:hover {
    -fx-background-color: #EEEE80;
    -fx-text-fill: #404040;
}

#adminButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #404040;
}

#adminLogin {
    -fx-border-color: #FF9000;
    -fx-text-fill: #FF9000;
}

#adminLogin:hover {
    -fx-background-color: #FFB080;
    -fx-text-fill: #404040;
}

#searchBar {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: #CCFF00;
}

#searchBar:selected {
    -fx-border-width: 5px;
}

#searchBtn {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#searchBtn:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #404040;
}

.table-view {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 5px;
    -fx-border-color: #A6FF00;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#A0FF00 0%, #00C8FF 100%);
}

.table-view .column-header .label {
    -fx-font-size: 14;
    -fx-alignment: center-left;
    -fx-text-fill: #222262;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-alignment: top-left;
    -fx-text-fill: #101010;
}

.table-row-cell{
    -fx-background-color:  #b0e8FF;
    -fx-table-cell-border-color: #b0e8FF;
    -fx-background-insets:1 0 1 0, 2 1 2 1;
    -fx-background-radius: 6;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color:  #aaffb0;
    -fx-table-cell-border-color: #aaffb0;
    -fx-background-insets:1 0 1 0, 2 1 2 1;
    -fx-background-radius: 6;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:hover {
    -fx-background-color: #e0e0e0;
}

.table-row-cell:selected {
    -fx-font-fill: #F0F0F0;
    -fx-background-color:  #0058e0;
    -fx-table-cell-border-color: #0058e0;
    -fx-background-insets:1 0 1 0, 2 1 2 1;
    -fx-background-radius: 6;
}
