.root {
       -fx-background-color: linear-gradient(#30a8dF 0%, #80c0a0 100%);
}
.button {
    -fx-border-width: 2px;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-color: #30a8dF;
}

.table-view .scroll-bar:hover .thumb {
    -fx-width:4px; //homeLabel
    -fx-border-width: 2;
    -fx-border-radius: 10px;
    -fx-border-color: #30a8df;
}

.table-view .corner {
    -fx-background-color: #a6ff00;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.chart {
    -fx-padding: 2px;
}
.chart-content {
    -fx-padding: 2px;
}

.chart-title {
  -fx-text-fill: #070707;
  -fx-font-weight: bold;
  -fx-font-size: 1.6em;
}

.axis {
    -fx-tick-label-fill: #070707;
}

.axis-label {
  -fx-text-fill: #070707;
  -fx-font-weight: bold;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 2px;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #a8ff00;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: #808080;
}
.chart-vertical-grid-lines {
    -fx-stroke: #070707;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #070707;
}

.chart-alternative-row-fill {
    -fx-fill: #e0e0e0;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.loginLabel {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #202020;
}
.loginLabel2 {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #202020;
}

#darkButton {
    -fx-border-color: #3030A0;
    -fx-text-fill: #3030A0;
}

#darkButton:hover {
    -fx-background-color: #8080FF;
    -fx-text-fill: #202020;
}

#lightButton {
    -fx-border-color:  transparent;
    -fx-text-fill:  transparent;
}

.addDeviceLabels {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #202020;
}

#deviceTitle {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #202020;
}

#inputGpsB {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #202020;
}

#lightButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

#homeLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #008000; /* home text*/
}

#adminButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#addButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#addButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #202020;
}

#ppmAvgLabel {
    -fx-font-weight: bold;
    -fx-padding: 1px;
    -fx-background-radius: 4 0 0 0;
    -fx-border-width: 2 0 2 2;
    -fx-border-radius: 4 0 0 4;
    -fx-border-color: #A6FF00;
    -fx-background-color: linear-gradient(#a6ff00 0%, #30a8df 25%, #30a8df 75%, #A6FF00 100%);
    -fx-font-size: 14;
    -fx-text-fill: #202020;
}

#avgPpm {
    -fx-padding:1px;
    -fx-background-radius: 0 4 0 0;
    -fx-background-color: linear-gradient(#a6ff00 0%, #30a8df 25%, #30a8df 75%, #A6FF00 100%);
    -fx-border-width: 2 2 2 0;
    -fx-border-radius: 0 4 4 0;
    -fx-border-color: #A6FF00;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#changeButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#changeButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #202020;
}

#newDeviceButton {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#newDeviceButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #202020;
}

#deleteButton {
    -fx-border-color: #FF4000;
    -fx-text-fill: #FF4000;
}

#deleteButton:hover {
    -fx-background-color: #FF6040;
    -fx-text-fill: #202020;
}

#cancelButton {
    -fx-border-color: #FF4000;
    -fx-text-fill: #FF4000;
}

#cancelButton:hover {
    -fx-background-color: #FF6040;
    -fx-text-fill: #202020;
}

#resetButton {
    -fx-border-color: #FF9000;
    -fx-text-fill: #FF9000;
}

#resetButton:hover {
    -fx-background-color: #FFD080;
    -fx-text-fill: #202020;
}

#updateButton {
    -fx-border-color: #EEEE00;
    -fx-text-fill: #EEEE00;
}

#updateButton:hover {
    -fx-background-color: #EEEE80;
    -fx-text-fill: #404040;
}

#adminButton:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #404040;
}

#adminLogin {
    -fx-border-color: #FF9000;
    -fx-text-fill: #FF9000;
}

#adminLogin:hover {
    -fx-background-color: #FFB080;
    -fx-text-fill: #404040;
}

#searchBar {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: #CCFF00;
}

#searchBar:selected {
    -fx-border-width: 5px;
}

#searchBtn {
    -fx-border-color: #CCFF00;
    -fx-text-fill: #CCFF00;
}

#searchBtn:hover {
    -fx-background-color: #E0FF80;
    -fx-text-fill: #404040;
}

.table-view {
    -fx-background-color: linear-gradient(#a6ff00 0%, #e0e0e0 15%, #e0e0e0 90%, #a6ff00 100%);
    -fx-background-radius: 5px;
    -fx-border-color: #A6FF00;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#a6ff00 0%, #30a8df 20%, #30a8df 75%, #A6FF00 100%);
}

.table-view .column-header .label {
    -fx-font-size: 14;
    -fx-alignment: center-left;
    -fx-text-fill: #222262;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-alignment: top-left;
    -fx-text-fill: #101010;
}

.table-row-cell{
    -fx-background-color: linear-gradient(#8aff60 0%, #a0e8FF 25%, #a0e8FF 75%, #8aff60 100%);
    -fx-table-cell-border-color: transparent;
    -fx-background-insets:1 0 1 0, 2 1 2 1;
    -fx-background-radius: 6;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: linear-gradient(#8aff60 0%, #80c0d8 25%, #80c0d8 75%, #8aff60 100%);
    -fx-table-cell-border-color: transparent;
    -fx-background-insets:1 0 1 0, 2 1 2 1;
    -fx-background-radius: 6;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:hover {
    -fx-background-color: linear-gradient(#30a8df 0%, #e0e0e0 25%, #e0e0e0 75%, #30a8df 100%);
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected {
    -fx-font-fill: #F0F0F0;
    -fx-background-color: linear-gradient(#8aff00 0%, #30a8df 25%, #30a8df 75%, #8aff00 100%);
    -fx-table-cell-border-color: transparent;
    -fx-background-insets:1 0 1 0, 2 1 2 1;
    -fx-background-radius: 6;
}
